<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Contact</title>
    <link rel="stylesheet" href="../css.css">
</head>
<body>
<h1>Add Contact</h1>
<header>
    <a href="/">Home</a> |
    <a href="/secure/addContact"> Add Contact</a> |
    <a href="/secure/listContacts"> List Contacts</a> |
    <a href="/register"> Register User</a> |
</header>
<img src="../contact.jpg">
<br>
<form method="post" th:action="@{/insertContact}" th:object="${contact}">
    <input type="hidden" name="id" th:field="*{id}"/><br>
    Name: <input type="text" name="name" th:field="*{name}"/><br>
    Phone Number: <input type="number" name="phoneNumber" th:field="*{phoneNumber}"/><br>
    Address: <input type="address" name="address" th:field="*{address}"/><br>
    Email: <input type="email" name="email" th:field="*{email}"/><br>
    Role: <select name="role" th:field="*{role}">
        <option value="ROLE_ADMIN">Admin</option>
        <option value="ROLE_MEMBER">Member</option>
        <option value="ROLE_GUEST">Guest</option>
    </select><br>
    <input type="submit" value="Go">
</form>
<br>
<footer>Copyrights by Hieu Vu All rights reserved</footer>
</body>
</html>