<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="css.css">
</head>
<body>
<h1>Home page</h1>
<header>
    <a href="/">Home</a> |
    <a href="secure/addContact"> Add Contact</a> |
    <a href="secure/listContacts"> List Contacts</a> |
    <a href="register"> Register User</a> |
</header>
<img src="image.jpg">
<br>
<footer>Copyrights by Hieu Vu All rights reserved</footer>
</body>
</html>